<div>
  <div ng-if="model && model.images" ng-repeat="modelOne in model.images track by $index">
    <input ng-show="form.key"
           type="{{form.type}}"
           step="any"
           sf-changed="form"
           placeholder="{{form.placeholder}}"
           class="form-control {{form.fieldHtmlClass}}"
           id="{{form.key.slice(-1)[0]}}"
           ng-model-options="form.ngModelOptions"
           ng-model="modelOne.url"
           ng-disabled="form.readonly"
           name="{{form.key.slice(-1)[0]}}"
           aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">
    <div class="radio pull-left" ng-show="form.key">
      <label><input type="radio" name="defaultImage" ng-model="model.default.index" ng-value="$index" ng-disabled="form.readonly"/>Default image</label>
    </div>
    <button class="btn btn-primary pull-right" ng-click="removeModel($index)"
            style="margin-left: 5px; margin-bottom: 5px;" ng-if="!form.readonly">Remove</button>
    <button type="file" class="btn btn-default pull-right"
            ngf-select="uploadFile($file, $errorFile, $index)"
            accept="{{form.extensions}}"
            ng-if="!modelOne.url || modelOne.url.length == 0"
            ng-if="!form.readonly">
      <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;<span>Add image</span>
    </button>
    <div class="clearfix"></div>
    <span class="input-group-btn">
      <button class="btn btn-default" ng-if="hasSuccess() && form.feedback !== false" disabled="disabled">
        <i class="glyphicon glyphicon-ok" style="color: #3c763d;"></i>
      </button>

      <button ng-if="form.description" class="btn btn-default"
              ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
        <i class="glyphicon glyphicon-question-sign"></i>
      </button>
    </span>



    <img class="img-thumbnail" ng-show="form.key" ng-src="{{modelOne.url}}" alt="" width="{{form.preview.width}}"
         ng-if="modelOne.url && modelOne.url.length > 0"
         height="{{form.preview.height}}"/>

    <div class="progress" ng-if="isUploading[$index]">
      <div class="progress-bar" role="progressbar" ng-style="{'width': uploadProgress + '%'}"
           aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100">
        {{uploadProgress}}%
      </div>
    </div>
  </div>

  <button class="btn btn-primary" ng-click="addModel()" ng-if="!form.readonly">Add model</button>

  <button type="file" class="btn btn-default"
          ngf-select="uploadFiles($files, $errorFiles, $index)" multiple
          accept="{{form.extensions}}"
          ng-if="!form.readonly && (!modelOne.url || modelOne.url.length == 0)">
    <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;<span>Add Image's list</span>
  </button>

</div>