<div ng-if="form.readonly && $$value$$ && $$value$$.length > 0"
     class="panel panel-default schema-form-{{form.type}} {{form.htmlClass}}">
  <div class="panel-heading">
    <label ng-show="showTitle()">{{form.title}}</label>
  </div>

  <div class="panel-body">
    <img class="img-responsive" ng-src="{{$$value$$}}" alt="">

    <button ng-if="form.description" class="btn btn-default pull-right"
            ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
      <i class="glyphicon glyphicon-question-sign"></i>
    </button>
  </div>

  <div class="panel-footer" ng-if="form.feedback || (form.description && tab.show_index === $index )">
    <span ng-if="form.feedback !== false" class="form-control-feedback" aria-hidden="true"></span>
    <div ng-show="tab.show_index === $index" class="help-block" sf-message="form.description"></div>
  </div>
</div>

<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}"
         for="{{form.key.slice(-1)[0]}}" >{{form.title}}</label>

  <div ng-class="{'input-group': form.description || hasSuccess() }"
       ng-if="!form.fieldAddonLeft && !form.fieldAddonRight">

    <image-url schema="schema" form="form" model="$$value$$"></image-url>

  </div>

  <div ng-if="form.fieldAddonLeft || form.fieldAddonRight"
       ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
        <span ng-if="form.fieldAddonLeft"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonLeft"></span>

    <image-url schema="schema" form="form" model="$$value$$"></image-url>

    <span ng-if="form.fieldAddonRight"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonRight"></span>
  </div>

  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

  <div ng-show="$index === tab.show_index" class="help-block" sf-message="form.description"></div>
</div>