<div ng-if="form.readonly && $$value$$ && $$value$$.length > 0"
     class="panel panel-default schema-form-{{form.type}} {{form.htmlClass}}">
  <div class="panel-heading">
    <label ng-show="showTitle()">{{form.title}}</label>
  </div>

  <div class="panel-body">
    <img class="img-responsive" ng-src="{{$$value$$}}" alt="">

    <button ng-if="form.description" class="btn btn-default pull-right"
            ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
      <i class="glyphicon glyphicon-question-sign"></i>
    </button>
  </div>

  <div class="panel-footer" ng-if="form.feedback || (form.description && tab.show_index === $index )">
    <span ng-if="form.feedback !== false" class="form-control-feedback" aria-hidden="true"></span>
    <div ng-show="tab.show_index === $index" class="help-block" sf-message="form.description"></div>
  </div>
</div>

<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-if="!form.readonly"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}"
         for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>

  <div ng-class="{'input-group': form.description || hasSuccess() }"
       ng-if="!form.fieldAddonLeft && !form.fieldAddonRight">

    <input ng-if="!form.fieldAddonLeft && !form.fieldAddonRight"
           ng-show="form.key"
           type="{{form.type}}"
           step="any"
           sf-changed="form"
           placeholder="{{form.placeholder}}"
           class="form-control {{form.fieldHtmlClass}}"
           id="{{form.key.slice(-1)[0]}}"
           ng-model-options="form.ngModelOptions"
           ng-model="$$value$$"
           ng-disabled="form.readonly"
           schema-validate="form"
           name="{{form.key.slice(-1)[0]}}"
           aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">

    <span class="input-group-btn">
            <button class="btn btn-default" ng-if="hasSuccess() && form.feedback !== false" disabled="disabled">
                <i class="glyphicon glyphicon-ok" style="color: #3c763d;"></i>
            </button>
            <button ng-if="form.description" class="btn btn-default"
                    ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
                <i class="glyphicon glyphicon-question-sign"></i>
            </button>
        </span>

  </div>

  <!--<img class="img-thumbnail" ng-show="form.key" ng-src="{{$$value$$}}" alt="" width="{{form.preview.width}}"-->
  <!--height="{{form.preview.height}}">-->

  <button class="btn btn-default" ng-click="addImage();" ng-show="!readOnly">
    <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;<span>Add image</span>
  </button>

  <div ng-if="form.fieldAddonLeft || form.fieldAddonRight"
       ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
        <span ng-if="form.fieldAddonLeft"
              class="input-group-addon"
              ng-bind-html="form.fieldAddonLeft"></span>

    <input ng-show="form.key"
           type="{{form.type}}"
           step="any"
           sf-changed="form"
           placeholder="{{form.placeholder}}"
           class="form-control {{form.fieldHtmlClass}}"
           id="{{form.key.slice(-1)[0]}}"
           ng-model-options="form.ngModelOptions"
           ng-model="$$value$$"
           ng-disabled="form.readonly"
           schema-validate="form"
           name="{{form.key.slice(-1)[0]}}"
           aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">

    <span class="input-group-btn">
            <button class="btn btn-default" ng-if="hasSuccess() && form.feedback !== false" disabled="disabled">
                <i class="glyphicon glyphicon-ok" style="color: #3c763d;"></i>
            </button>

            <button ng-if="form.description" class="btn btn-default"
                    ng-click="tab.show_index = !tab.show_index ? $index : tab.show_index !== $index ? $index : null">
                <i class="glyphicon glyphicon-question-sign"></i>
            </button>


        </span>

    <img class="img-thumbnail" ng-show="form.key" ng-src="{{$$value$$}}" alt="" width="{{form.preview.width}}"
         height="{{form.preview.height}}">

    <span ng-if="form.fieldAddonRight"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonRight"></span>
  </div>

  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

  <div ng-show="$index === tab.show_index" class="help-block" sf-message="form.description"></div>
</div>